body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;;;
}

h1 {
  margin: 0px;
}
